body {
    background-image: linear-gradient(#009688,#009688);
    background-size: 100vw 15vh;
    background-repeat: no-repeat;
}
main {
    padding: 10px 70px;
    overflow-y: scroll;
    height: calc(100% - 110px);
    
}
.my-bg-white-header {
    background-color: #eaeaea;
}
.left{
    width: 400px;
    
}
.right {
    background-image: url('../img/mine.jpg');
    width: calc(100% - 180px);
}
.icon-header {
    height: 60px;
}
.icon-profile {
    height: 80%;

}
.icon-profile  img{
    height: 100%;
    border-radius: 50%;
}
.square {
    width: 40px;
    height: 40px;
}
.h-60px {
    height: 60px;
}
#controls i{
    margin: 0 8px;
    font-size: 1.2rem;
    color: grey;
}

a, a:hover{
    color: #757575;
}

.last-message {
    width: 200px;
        /* word-wrap: normal; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
       
}

#last-access {
    line-height: 1.6rem;
    
}
#last-access span:nth-child(2) {
    color: grey;
    font-size: 0.8rem;
    
}
#input-text-chat {
    height: 50px;
    background-color: #eaeaea;
}
#input-text-chat  input{
    width: 80%;
}
i {
    cursor: pointer;
}
#input-text-chat i {
    padding: 10px;
    font-size: 1.4rem;
    color: grey;
    cursor: pointer;
    margin: 0 auto;
    transition: all 0.2s;
    border-radius: 15px;
}
#input-text-chat i:active{
    background-color: #8f8f8f64;
    color: white;
}
.form-control:focus {
    box-shadow: 0px 0px 2px rgba(167, 167, 167, 0.73);
    border-color: rgba(134, 134, 134, 0.478);
}
.h-70px {
    height: 70px;
}
#allert {
    background-color: #8edafc;
    height: 70px;
}
#allert i {
    color: #8edafc;
}
/* #icon-bell {
    height: 70px;
} */

#notifications span {
    line-height: 1rem;
    font-size: 0.8rem;
}
#list-chat-opened {
    height: calc(100% - 190px);
    overflow-y: scroll;
}
li:hover {
    background-color: rgba(209, 209, 209, 0.748);
    cursor: pointer;
}
.message{
    padding: 5px 10px;
    padding-bottom: 18px;
    border-radius: 5px;
    min-height: 50px;
    min-width: 250px;
    max-width: 500px;
    word-wrap: break-word;
}
.message i{
    position: absolute;
    top: 3px;
    right: 8px;
    opacity: 0;
}
.message i:hover {
    opacity: 1;
    cursor: pointer;
}
.send{
    background-color: #d5f9ba;
    margin-left: auto;
    
}
.received {
    background-color: rgb(255, 255, 255);
  
}
.date-message {
    position: absolute;
    right: 5px;
    bottom: 0;
    color: grey;
    font-size: 0.8rem;
}
.date-last-message{
    font-size: 0.8rem;
}
.input-group {
    height: 50px;
}