:root {
    --bg-img: 0,148,133;
    --body-decor-img: rgb(0, 148, 133);
    --body-color: rgb(255, 255, 255);
    --header-footer: #eaeaea;  
    --primary-text-color: black;
    --secondary-icon-color: grey;
    --secondary: grey;
    --bg-allert: #8edafc;
    --hover-light-grey: rgba(209, 209, 209, 0.41);
    --massege-sent: #d5f9ba;
    --message-received: white;
    --active-chat: #c9c9c9;
    --border-input-focus: #8686867a;
    --shadow-input: rgb(119, 119, 119);
    --shadow-input-rgb: 119,119,119;
}

body {
    /* background-color: var(--body-color);
    background-image: linear-gradient(rgba(var(--bg-img),1),rgba(var(--bg-img),1)); */
    background-size: 100vw 15vh;
    background-repeat: no-repeat;
    color: var(--primary-text-color);
}
.wrapper{
    background-color: var(--body-color);
    background-image: linear-gradient(rgba(var(--bg-img),1),rgba(var(--bg-img),1));
    background-repeat: no-repeat;
    background-size: 100vw 15vh;
    transition: all 1s;
}
main {
    padding: 10px 70px;
    overflow-y: scroll;
    height: calc(100% - 110px);
    
}

.left{
    width: 400px;
    
}
.right {
    background-image: url('../img/mine.jpg');
    width: calc(100% - 180px);
}
.right #last-access .last-access{
    line-height: 1rem;
}
.header{
    background-color: var(--header-footer);
}
.icon-header {
    height: 60px;
}
.icon-profile {
    height: 100%;

}
.icon-profile  img{
    height: 100%;
    border-radius: 50%;
}
.square {
    width: 40px;
    height: 40px;
}
.h-60px {
    height: 60px;
}
i{
    margin: 0 8px;
    font-size: 1.2rem;
    /* color: var(--secondary-text-color); */
}

/* a, a:hover{
    color: #757575;
} */

.last-message {
    width: 200px;
        /* word-wrap: normal; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
       
}

#last-access {
    line-height: 1.6rem;
    
}
#last-access span:nth-child(2) {
    color: grey;
    font-size: 0.8rem;
    
}
#input-text-chat {
    height: 50px;
    /* background-color: var(--header-footer); */
}
#input-text-chat  input{
    
}
i {
    cursor: pointer;
    /* color: var(--secondary-text-color); */
}
#input-text-chat i {
    padding: 10px;
    font-size: 1.4rem;
    
    cursor: pointer;
    margin: 0 auto;
    border-radius: 15px;
    width: 70px;
    text-align: center;
    transition: all 0.2s;
    z-index: 5;
}
#input-text-chat i:active{
    background-color: var(--secondary-icon-color);
    box-shadow: 0px 0px 15px 10px rgb(var(--secondary-icon-color));
    color: var(--header-footer);
    font-size: 1.8rem;
}
.form-control:focus {
    box-shadow: 0px 0px 5px rgba(var(--shadow-input-rgb),1);
    border-color: var(--border-input-focus);
}
.h-70px {
    height: 70px;
}
#allert {
    background-color: var(--bg-allert);
    height: 70px;
}
#allert i {
    color: var(--bg-allert);
}
/* #icon-bell {
    height: 70px;
} */

#notifications span {
    line-height: 1.1rem;
    font-size: 0.8rem;
}
#list-chat-opened {
    height: calc(100% - 185px);
    overflow-y: scroll;
}
ul {
    margin: 0;
}
li{
    cursor: pointer;
    height: 80px;
}
li:hover:not(.active) {
    background-color: var(--hover-light-grey);
    cursor: pointer;
}
.message{
    padding: 5px 10px;
    padding-bottom: 18px;
    border-radius: 5px;
    min-height: 50px;
    min-width: 250px;
    max-width: 500px;
    word-wrap: break-word;
}
.message i{
    position: absolute;
    top: 3px;
    right: 8px;
    opacity: 0;
}
.message i:hover {
    opacity: 1;
    cursor: pointer;
}
.send{
    background-color: var(--massege-sent);
    margin-left: auto;
}
.received {
    background-color: var(--message-received);
  
}
.date-message {
    position: absolute;
    right: 5px;
    bottom: 0;
    color: var(--secondary);
    font-size: 0.8rem;
}
.date-last-message{
    font-size: 0.8rem;
    line-height: 1.6rem
}
.input-group {
    height: 50px;
}
#date-last-msg {
    /* top: 5px; */
    right: 5px;
}
.active {
    background-color: var(--active-chat);
}
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.list-leave-active {
    position: absolute;
}


/* .dark img {
    filter: invert(100%);
    
}
.dark{
    filter: invert(100%) brightness(80%);
    background-image: linear-gradient(#606060a9, #606060a9);
    background-repeat: no-repeat;
    background-size: 100vw 15vh;
    background-color: #dfdfdf;
} */

/* .dark .message{
    filter: invert(100%);
} */


.dark {
    
    background-image: linear-gradient(#151a1a, #151a1a);
    background-repeat: no-repeat;
    background-size: 100vw 15vh;
    background-color: rgb(87, 87, 87);
    color: white;
    scrollbar-color: dark;
    --secondary: white;
} 
 .dark-header {
    background-color: rgb(57, 57, 57);
}
.dark.ico{
    color: white;
}
.light-ico {
    color: var(--secondary-icon-color)
}

.dark-list {
    background-color: rgb(62, 62, 62);
}
/* .active-dark{
    background-color: blue;
} */
.dark .right {
    background-image: url('../img/bgDark.jpg');
    background-size: contain;
}
.dark .form-control{
    background-color: rgb(71, 71, 71);
    color:white;
}
.dark .message {
    color: black;
}
.dark .received {
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #baf3f9;
}
.dark .send {
    background-color: #5d4fa1;
    /* border: 1px solid #4934ad; */
    color: white;
    box-shadow: 0 0px 3px hsl(0, 94%, 32%);
}
.dark .active {
    background-color: #5d4fa1;
    border-radius: 35px;
    box-shadow: 0px 0px 5px black;
}
.dark img {
    box-shadow: 0px 0px 5px black;
}
.dark .text-secondary{
    color: rgb(255, 255, 255)!important;
}
.dark .left {
    background-color: #333333;
}
.dark #last-access span:nth-child(2){
    color: white;
}
.dark #allert {
    background-color: #263b3b;
    filter: grayscale(0.2);
}
.dark #allert i{
    color: #263b3b;
    
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .dropdown-menu li a:active {
    background-color: rgb(255, 255, 255);
    color: rgb(156, 39, 39);
    animation: myMove 0.3s;
  }
  .dark li:hover:not(.active) {
    background-color: #333333;
    cursor: pointer;
    
}
  .dark .dropdown-menu{

    background-color: rgb(87, 87, 87);
    color: white;
  }
  .dark .dropdown-menu li a{
    color: white;
  }
  .dark .dropdown-menu li a:active {
    background-color: grey;
  }
  @keyframes mymove {
    50% {font-size: 40px;}
  }
  .dark .dropdown-menu li a:hover,
  .dark .dropdown-menu li a:focus{
    color: rgb(158, 0, 0);
  }
  .dropdown-menu {
    /* display: block; */
    position: absolute;
    top: 25px;
    right: 40px;
    transform: translateX(57px);
  }
  .dropdown-menu li {
    height: auto;
  }
  .show {
     display: block;
  }
  .top-50px {
    top: 50px!important;
  }