<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js"></script>
    <script src="js/libreria.js"></script>
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>
<body>
    <div id="app">
        <div class="wrapper" :class="{'dark': dark}" @click="showReset()">
        <div class="container-fluid vh-100 p-3">
            <div class="container-lg h-100 d-flex p-3">

<!--############ Lato sinistro lista chat aperte ############################-->
                
                <div class="left h-100 border-end border-dark" @click="showReset()">
                    
                    <!--#####icona profilo utente e controlli status/new chat/options ########-->
                    
                    <div id="header-aside-left" class="header icon-header d-flex justify-content-between align-items-center p-1" :class="{'dark-header': dark}">
                        <div class="icon-profile d-flex align-content-center">
                            <div class="icon-user">
                                <img src="img/avatar_1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="ps-1 d-flex">
                               <span id="name-user"class="m-auto">Mattia Rollo</span>
                            </div>
                        </div>

                        <div id="controls" :class="{'dark-ico': dark, 'light-ico': light}">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                    </div>
                    
                    <!--######## banner attivazione notifiche desktop ##########-->
                    
                    <div id="allert" class="py-2 px-3">
                        <div class="icon-profile d-flex align-content-center h-100">
                            <div id="icon-bell" class="d-flex">
                                <div class="m-auto rounded-circle bg-light square d-flex">
                                    <span class="m-auto"><i class="fa-solid fa-bell-slash fs-5"></i></span>
                                </div>
                            </div>
                            <div id="notifications" class="ps-1 d-flex flex-column justify-content-center">
                               <span id="name-user">Ricevi notifiche di nuovi messaggi</span>
                               <span class="last-login"><a href="#">Attiva notifiche desktop</a></span>
                            </div>
                            <div class="d-flex ms-auto">
                                <i class="fa-solid fa-x text-secondary m-auto"></i>
                            </div>
                        </div>
                        
                    </div>
                    <!--################## input campo di richerca #################-->
                    <div class="input-group p-2 mb-1">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" placeholder="cerca tra le chat" aria-label="Username" aria-describedby="basic-addon1" v-model.trim="textSearch">
                    </div>
                    <!-- lista chat aperte -->
                    <!-- chat aperta con ...  -->
<!--################################################################################################################################################################################################################################################-->
<!--################### prova della transition con vue e una libreria gsap  ###########################################################################################################################################################################################################################################à###############################               -->
                    <transition-group name="list" tag="ul" id="list-chat-opened" class="list-unstyled" :css="false"
                        @before-enter="onBeforeEnter"
                        @enter="onEnter"
                        @leave="onLeave" :class="{'dark-list': dark}"  >
                        <li v-for="(person,index) of filtered"class="position-relative" :key="person" :data-index="index" @click="setChat(person.id)" :class="{'active': person.id === idActive}">
                            <div class="icon-profile d-flex align-content-center p-2 position-relative">
                                <!-- icona destinatario chat opened-->
                                <div id="icon-chat" class="icon-chat h-60px">
                                    <img :src="`img/avatar${person.avatar}.jpg`" alt="">
                                </div>
                                <!-- ultimo messaggio -->
                                <div id="last-access" class="ps-1 d-flex flex-column ">
                                    <span id="name-user"class="">{{person.name}}</span>
                                    <span class="last-message">{{getLastMessage(person)}}</span>
                                </div>
                                <!-- orario ultimo messaggio  -->
                                <div id="date-last-msg" class="position-absolute ms-auto text-secondary text-end "><span class="date-last-message">{{person.messages[person.messages.length-1].date}}</span></div>
                            </div>
                        </li>
                    </transition-group>
                    

                </div>

<!--############ lato destro con la chat corrente attiva ########################-->
                
                <div id="active-chat" class="right h-100 bg-danger position-relative"  @click="showReset()">
                    
                    <!--intestazione chat attiva con icon-profile/last-access/controls-->
                    
                    <div id="chat-active" class="header icon-header d-flex align-items-center p-1 justify-content-between" :class="{'dark-header': dark}">
                        
                        <!-- parte sinistra con icona e ultimo accesso  -->
                        
                        <div class="icon-profile d-flex align-content-center " >
                            <div id="icon-chat" class="icon-chat">
                                <img :src="`img/avatar${contacts[activeIndex].avatar}.jpg`" class="img-fluid" alt="">
                            </div>
                            <div id="last-access" class="ps-1 d-flex flex-column justify-content-center">
                               <span id="name-user"class="">{{contacts[activeIndex].name}}</span>
                               <span class="last-access">Ultimo Accesso: <span>{{lastMessageDate}}</span></span>
                            </div>
                        </div>
                        
                        <!-- part destra dell'itestrazione con icone search/attached/options -->
                        
                        <div id="controls" :class="{'light-ico':  light}">
                            <i @click="dark = !dark, light = !light" v-if='dark'class="fa-solid fa-sun"></i>
                            <i @click="dark = !dark, light = !light" v-else class="fa-solid fa-moon"></i>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical" ></i>
                            <ul class="dropdown-menu top-50px"  v-if="show" :class="{'show': show && indexMsgActive == null}">
                                <li><a class="dropdown-item" href="#" @click="">Cancella Chat</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            
                        </div>
                    </div>
                    <!--############# messaggi della chat attiva #####################-->
                    <!-- ciclo for per i messaggi della chat attiva -->
                    <main @click="showReset()">
                        <div v-for="(message,index) in contacts[activeIndex].messages" class="p-1 d-flex">
                        

                            <div id="message" :class="message.status === 'sent' ? 'send' : 'received'" class="position-relative message"><span>{{message.message}}</span>
                                <span class="date-message">{{message.date}}</span>
                                
                                <i class="fa-solid fa-chevron-down" @click.stop="showMenu(index)"></i>
                                <ul class="dropdown dropdown-menu " ref="menu" :class="(show && index == indexMsgActive) ? 'show' : ''">
                                    <li><a class="dropdown-item" href="#">info</a></li>
                                    <li><a class="dropdown-item" href="#"  @click="removeMessage(index)">Cancella Messaggio</a></li>
                                    
                                  </ul>
                                
                            </div>
                        
                        </div>
                    
                    </main>
                    <!-- footer della chat attiva con campo di input per inviare messaggi -->
                    
                    <div id="input-text-chat" class="header position-absolute bottom-0 w-100 d-flex align-items-center justify-content-around" :class="{'dark-header': dark,'light-ico':  light}" >
                        <i class="fa-regular fa-face-smile"></i>
                        <input @keyup.enter="addMessage(contacts[activeIndex])" type="text" class="form-control" v-model.trim="text">    
                        <i v-if="text" class="fa-solid fa-paper-plane" @click="addMessage(contacts[activeIndex])"></i>
                        <i v-else class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <teleport to="body"> -->
            <!-- use the modal component, pass in the prop -->
            <!-- <modal :show="showModal" @close="showModal = false">
              <template #header>
                <h2>Benvenuto su Boolzapp</h2>
              </template>
            </modal>
          </teleport> --> 
    </div>
    </div>
    <script src="js/script.js" type="module"></script>
</body>
</html>